@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root{
    --paleVoilet : hsl(276, 100%, 81%);
    --moderateVoilet : hsl(276, 55%, 52%);
    --desaturatedDarkVoilet :  hsl(271, 15%, 43%);
    --grayishBlue : hsl(206, 6%, 79%);
    --veryDarkDesaturatedVoilet : hsl(271, 36%, 24%);
    --darkGrayishVoilet : hsl(270, 7%, 64%);
    --gradient1 : hsl(293, 100%, 63%);
    --gradient2 :  hsl(264, 100%, 61%);
    --white :  hsl(0, 0%, 100%);
    --lightGrayishVoilet :  hsl(270, 20%, 96%);
    --lightCustomColor :  hsl(270, 47%, 83%);
    --veryLightMagenta : hsl(289, 100%, 72%);
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 16px;
    font-family: 'Rubik' , serif;
    width: 100%;
    height: 100vh;
    background-color: #FAFAFA;
} 
.container{
    width: 100%;
    height: 100vh;
    /* background-color: var(--white); */
    display: flex;
    margin: 0 auto;
    /* justify-content: center; */
    padding: 0 14rem;
    gap: 2rem;
}
.left{
    width: 40%;
    height: 100vh;
    /* background-color: var(--lightGrayishVoilet); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99999;
}
.left::before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -70%;
    z-index: -999;
    background-color: red;
    position: absolute;
    /* clip-path: inset(10% 0% 33% 10% round 10px); */
    /* shape-outside: polygon(0px 0px, 0px 189px, 100.48% 94.71%, 200px 120px, 80.67% 37.17%);
    clip-path: ellipse(90% 70% at 0% 50%);
   -webkit-shape-outside: ellipse(90% 70% at 0% 50%);
   shape-outside: ellipse(90% 70% at 0% 50%);
} */
/* clip-path: path('M0 100 Q100 0 200 100 L200 200 L0 200 Z'); */
/* clip-path: path('M0 350 Q300 0 600 350 L600 700 L0 700 Z'); */

/* clip-path: path('M300 0 Q0 350 300 700 L300 700 L300 0 Z'); */
/* clip-path: path('M2,5 C2,8 8,8 8,5'); */
 /* clip-path: url(#marker); */
 /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%) , polygon(50% 0%, 100% 40%, 0% 40%); */
  /* clip-path: polygon(50% 0%, 100% 40%, 0% 40%); */
  /* width: 540px;
  height: 700px;
  left: -40%;
  top: -35px;
  rotate: 0deg;
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 219px;
  background-image: linear-gradient(var(--gradient1) , var(--gradient2));
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: -70%;
  z-index: -999;
  background-color: red;
  position: absolute; */
  width: 370px;
  height: 700px;
  left: -52%;
  top: -35px;
  rotate: 0deg;
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 300px;
  background-image: linear-gradient(var(--gradient1) , var(--gradient2));
}

.left .outlineMobile{

    width: 300px;
    height: 600px;
    background-color: var(--white);
    border-radius: calc(20px + 0.8rem);
    padding: 0.8rem;
    box-shadow: 0px 0px 50px -11px hsl(206, 6%, 79%);;
}
.left .outlineMobile .topNotification{
    width: 100%;
    height: fit-content;
    padding: 2rem 0.8rem 0.8rem;
    position: relative;
    background-image: linear-gradient(45deg , var(--gradient2) ,var(--gradient1));
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px 0px var(--grayishBlue);
}
.left .outlineMobile .topNotification::before{
    width: 55%;
    height: 1.3rem;
    background-color: var(--white);
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  
}
.left .outlineMobile .topNotification .leftWrapper{
    display: flex;
    align-items: center;
    gap: 0.56rem;
}
.left .outlineMobile .topNotification .middleContent{
    display: flex;
    gap: 0.6rem;
    align-items: center;
}
/* .left .outlineMobile .topNotification{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.left .outlineMobile .topNotification .leftVector , .left .outlineMobile .topNotification .rightVector{
    width: 8px;
    height: fit-content;
}
.left .outlineMobile .topNotification .middleContent .handle{
    display: flex;
    flex-direction: column;

}
.left .outlineMobile .topNotification .middleContent .handle h3{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--lightGrayishVoilet);
}
.left .outlineMobile .topNotification .middleContent .handle small{
    color: var(--lightCustomColor);
    font-size: 0.6rem;
}

.left .outlineMobile .topNotification .middleContent .profilePic{
    width: 2rem;
    height: 2rem;
    
   
}
.left .outlineMobile .topNotification .middleContent .profilePic img{
    border-radius: 50%;
    border: 2px solid var(--white);
}
.left .outlineMobile .topNotification .rightVector{
    width: 4px;
}

/* Chat section */
.left .outlineMobile .chatSection{
    padding: 1rem 0.8rem;
    width: 100%;
    background-color: var(--lightGrayishVoilet);
    height: calc(100% - 5rem);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.left .outlineMobile .chatSection .chat1 {
    display: flex;
    gap: 0.6rem ;
    flex-direction: column;

}
.left .outlineMobile .chatSection .chat1 h5 , .left .outlineMobile .chatSection .chat3 h5:first-child{
    padding: 0.6rem 1rem 0.6rem 0.6rem;
    color: var(--moderateVoilet);
    width: 70%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 15px;
    font-size: 0.6rem;
    background-color: hsl(272, 41%, 93%);
    font-weight: 500;
}
.left .outlineMobile .chatSection .chat2{
    margin-top: 0.8rem;
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
}
.left .outlineMobile .chatSection .chat2 .imgWrapper{
    display: flex;
    justify-content: end;
    gap: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}
.left .outlineMobile .chatSection .chat2 .imgWrapper img{
    border-radius: 10px;
}
.left .outlineMobile .chatSection .chat2 h5{
    padding: 0.6rem 1rem 0.6rem 0.6rem;
    color: var(--desaturatedDarkVoilet);
    width: 70%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 15px;
    font-size: 0.6rem;
    background-color: var(--white);
    font-weight: 500;
}
.left .outlineMobile .chatSection .chat2 h5:last-child{
    width: 50%;
}
.left .outlineMobile .chatSection .chat3{
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.left .outlineMobile .chatSection .chat3 .voiceNote{
    width: 80%;
    padding: 0.7rem 1rem 0.9rem 0.7rem;
    background : linear-gradient(to right ,var(--gradient1) , var(--gradient2));
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    gap: 0.8rem;
}
.left .outlineMobile .chatSection .chat3 .voiceNote .wrapper{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.left .outlineMobile .chatSection .chat3 .voiceNote .wrapper span{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--veryLightMagenta);
    border-radius: 50%;
}
.left .outlineMobile .chatSection .chat3 .voiceNote .wrapper h5{
    color: var(--lightGrayishVoilet);
    font-size: 0.6rem;
    font-weight: 500;
}
.left .outlineMobile .chatSection .chat3 .voiceNote h2{
    color: var(--white);
    font-size: 1rem;
}
.left .outlineMobile .chatSection .inputWrapper{
    width: 100%;
    margin-top: 1rem;
    height: fit-content;
    display: flex;
    align-items: center;
    position: relative;
}
.left .outlineMobile  .chatSection .inputWrapper input{
    width: 100%;
    padding: 0.8rem 1.6rem;
    border: 0;
    outline: 0;
    border-radius: 25px;
}
.left .outlineMobile  .chatSection .inputWrapper input::placeholder{
    color: var(--grayishBlue);
}
.left .outlineMobile .chatSection .inputWrapper .imgWrapper{
    width: 1.8rem;
    height: 1.8rem;
    background-color: #0a0a0a;
    border-radius: 50%;
    padding: 0.4rem;
    position: absolute;
    right: 0.8rem;
}
.left .outlineMobile .chatSection .inputWrapper .imgWrapper img{
    width: 100%;
    height: 100%;
    transform: rotate(-180deg);
    object-fit: fill;
}

/* RIGHT SECTION */
.container .right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    height: 100vh;
    gap: 1rem;
}
.container .right h1{
    font-size: 2.6rem;
    color: var(--veryDarkDesaturatedVoilet);
}
.container .right p{
    color: var(--darkGrayishVoilet);
    font-size: 1rem;
    line-height: 1.4;
}

@media (max-width : 550px){
    .container{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
    }
    .left {
        width: 100%;
    }
    .left::before{
        /* display: none; */
        width: 330px;
        height: 560px;
    }
    .right{
        width: 100% !important;
        padding: 1rem;
        align-items: center !important;
    }
    .container .right h1{
        font-size: 1.4rem;
        text-align: center;
    }
    .container .right p{
        text-align: justify;
        font-size: 0.9rem;
    }
}

/* Media Queries */
@media (min-width : 551px) and (max-width : 760px){
    .container{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        gap: 5rem;
        padding: 1rem;
    }
    .left {
        width: 100%;
    }
    .left::before{
        /* display: none; */
        width: 550px;
        height: 750px;
    }
    .right{
        width: 100% !important;
        padding: 1rem;
        align-items: center !important;
    }
}
/* Media Queries */
@media (min-width : 761px) and (max-width : 990px){
    .container{
        width: 100%;
        height: 100vh;
        flex-direction: row;
        /* gap: 5rem; */
        padding: 1rem;
    }
    .left {
        width: 100% !important;
    }
    .left::before{
        /* display: none; */
        width: 400px;
        height: 800px;
    }
    .right{
        width: 100% !important;
        padding: 1rem;
        align-items: center !important;
    }
}
@media (min-width : 990px) and (max-width :1250px){
    .container{
        width: 100%;
        height: 100vh;
        flex-direction: row;
        /* gap: 5rem; */
        padding: 1rem;
    }
    .left {
        width: 100% !important;
    }
    .left::before{
        /* display: none; */
        width: 550px;
        height: 800px;
    }
    .right{
        width: 100% !important;
        padding: 1rem;
        align-items: center !important;
    }
}